*{
font-size: 36pt;
color: red;
background-color:silver;
}

p.nieuniwersalna
{ 
font-size: 31pt;
color: green;   
background-color: purple; 
} 

.uniwersalna
{
font-size: 27pt;
color: green;
}