*{
font: size 36pt;
color: red;
background-color: silver;
}
p.nieuniwersalna{
font: size 36pt;
color:green;
}
.ponomarenko_uniwersalna{
font: size 29pt;
color:green;    
}
/* <!--Ponomarenko_Z57> --> */